.slideholder {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.d-flex {
  display: flex !important;
}

.untitled {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotateHue infinite 36s linear;
  animation-delay: 1.125s;
}

@keyframes rotateHue {
  0% {
    filter: hue-rotate(0deg);
  }
  20% {
    filter: hue-rotate(0deg);
  }
}

.untitled__shutters {
  position: absolute;
  height: 150vmax;
  width: 150vmax;
  left: calc(50% - 75vmax);
  top: calc(50% - 75vmax);
  pointer-events: none;
  z-index: 2;
  animation: rotateFrame 18s linear infinite;
}

@keyframes rotateFrame {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.untitled__shutters:before,
.untitled__shutters:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-color: #528222;
  pointer-events: auto;
}

.untitled__shutters:before {
  bottom: 50%;
  animation: openTop 9s infinite;
}

@keyframes openTop {
  0% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}

.untitled__shutters:after {
  top: 50%;
  animation: openBottom 9s infinite;
}

@keyframes openBottom {
  0% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}

.untitled__slides {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #528222;
}

.untitled__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: showHideSlide infinite 36s steps(1);
}

@keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}

.untitled__slide:nth-child(1) {
  animation-delay: 0s;
}

.untitled__slide:nth-child(1) .untitled__slideBg {
  background-image: url(../images/home-baner-slide1.jpg);
}

.untitled__slide:nth-child(2) {
  animation-delay: 9s;
}

.untitled__slide:nth-child(2) .untitled__slideBg {
  background-image: url(../images/home-baner-slide2.jpg);
}

.untitled__slide:nth-child(3) {
  animation-delay: 18s;
}

.untitled__slide:nth-child(3) .untitled__slideBg {
  background-image: url(../images/home-baner-slide3.jpg);
}

.untitled__slide:nth-child(4) {
  animation-delay: 27s;
}

.untitled__slide:nth-child(4) .untitled__slideBg {
  background-image: url(../images/home-baner-slide4.jpg);
}

.untitled__slideBg {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-color: #528222;
  background-blend-mode: hard-light;
  opacity: 1;
  z-index: -1;
  animation: bgInOut 9s infinite;
}

@keyframes bgInOut {
  0% {
    transform: rotate(-45deg) scale(1.1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  33% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  100% {
    transform: rotate(45deg) scale(0.9);
  }
}

.untitled__slideContent {
  height: 360px !important;
  width: 390px !important;
  position: absolute;
  top: 64%;
  left: 55%;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  font-family: "LEXEND", sans-serif;
  line-height: 0.8;
  letter-spacing: -0.025em;
  z-index: 2;
  opacity: 1;
  text-shadow: 0 0 0.5em rgba(179, 64, 26, 0.25);
  mix-blend-mode: lighten;
  width: -webkit-fill-available;
}

@media screen and (min-width: 601px) {
  .untitled__slideContent {
    margin-left: -150px;
    top: 58%;
    width: 527px;
  }
}

.untitled__slideContent span {
  display: block;
  font-size: 10vmin;
}

@media only screen and (min-width: 550px) and (max-width: 950px) {
  .untitled__slideContent span {
    font-size: 7vmin;
  }
}

.text2 {
  font-size: 27px !important;
  padding-bottom: 10px !important;
  text-shadow: 3px 2px 5px black !important;
}
.text3 {
  font-size: 20px !important;
  padding-bottom: 10px !important;
  text-shadow: 3px 2px 5px black !important;
}

.button {
  font-family: "LEXEND", sans-serif;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2vmin;
  display: inline-block;
  position: relative;
  border: 3px solid white;
  box-shadow: -0.5vmin 0.5vmin 0 rgba(255, 255, 255, 0.5);
  background: transparent;
  margin-top: 3vmin;
  mix-blend-mode: lighten;
  color: white;
  padding: 2vmin 2vmin 1.8vmin 2vmin;
  letter-spacing: 0.1em;
  text-shadow: none;
  line-height: 1;
  transform: translate3d(0.5vmin, -0.5vmin, 0);
  transition: all 100ms linear;
}

.button:hover {
  transform: translate3d(1vmin, -1vmin, 0);
  box-shadow: -1vmin 1vmin 0 rgba(255, 255, 255, 0.5);
  background: white;
  color: black;
}

.button:active {
  transform: translate3d(0px, 0px, 0);
  box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5);
}

.img-float-hold {
  transform: rotate(20deg);
  position: absolute;
  z-index: 20;
  bottom: 10px;
  left: 67%;
}

.img-float-hold img {
  width: 280px;
  vertical-align: middle;
  border-style: none;
}

.img-float-logo {
  position: absolute;
  z-index: 20;
  bottom: 292px;
  left: 43%;
}

.img-float-logo img {
  width: 93px;
  vertical-align: middle;
  border-style: none;
}

@media screen and (max-width: 601px) {
  .img-float-hold {
    transform: rotate(20deg);
    position: absolute;
    z-index: 20;
    bottom: -136px;
    left: 65%;
  }
  .img-float-hold img {
    width: 234px;
    vertical-align: middle;
    border-style: none;
  }
  .img-float-logo {
    position: absolute;
    z-index: 20;
    bottom: 293px;
    left: 69%;
  }
  .img-float-logo img {
    width: 78px;
    vertical-align: middle;
    border-style: none;
  }
}

@media screen and (min-width: 900px) {
  .img-float-logo {
    position: absolute;
    z-index: 20;
    bottom: 281px;
    left: 56%;
  }
  .img-float-logo img {
    width: 110px;
    vertical-align: middle;
    border-style: none;
  }
}

/* inquire modal */

.call-to-action-box {
  margin-top: -50px;
}
.no-padding {
  padding: 0;
}
section,
.section-padding {
  position: relative;
}
.call-to-action-box .action-style-box {
  background: #3a3e47;
  padding: 30px;
  margin-top: 30px;
}
.action-title {
  color: #fff;
  margin: 0;
  line-height: 23px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 10px;
}
h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: 700;
  font-family: "LEXEND", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

.inq-btn {
  margin-top: 10px;
  margin-bottom: 5px;
}
.inq-btn a {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  color: #194c23;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  border: 0px !important;
}

.inq-btn a:hover{
  background: #5e6578 !important;
  border-color: transparent;
  color: #ffffff;
}

a:link,
a:visited {
  text-decoration: none !important;
}
/* .modal-header span {
  color: gray;
}
.modal-footer {
  border-top: 0px;
}

.modal.animate.show {
  opacity: 1;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-title {
  color: gray;
  font-size: 32px;
} */

#inquire input[type="text"],
#inquire input[type="email"] {
  height: 30px;
}

#inquire textarea {
  height: 100px !important;
}
#inquire label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  text-align: left;
}

#inquire .col-md-12 {
  margin-bottom: 8px;
}

.modal.animate.show {
  opacity: 0;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden !important;
}
#inquire .modal-title {
  color: black;
  font-size: 32px;
}

/* monadi */

* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

#slideImg1 {
  width: 100%;
  height: 100%;
  animation: zoom 3s linear infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  15% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
}

.content {
  width: 60%;
  margin: 160px auto 0;
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 60px;
  font-family: "LEXEND", sans-serif;
  color: #fff;
}
.content h2 {
  width: 85%;
  margin: 20px auto 40px;
  font-weight: 100;
  line-height: 25px;
  position: relative;
  font-family: "LEXEND", sans-serif;
  font-size: 25px;
}
.content p {
  color: #fff;
}

.overlay .content button {
  width: max-content;
  padding: 10px 30px;
  text-align: center;
  margin: 40px 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #fff;
  background: #0b8021;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}

.overlay .content button:hover {
  background: transparent;
  border: 2px solid #fff;
  box-shadow: 0 12px 16px 0 rgba(8, 2, 2, 0.24),
    0 17px 50px 0 rgba(38, 37, 37, 0.19);
}

:root {
  --typewriterSpeed: 6s;
}

.content .bannerp {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
