/*Latest Podcast*/
h1{
    font-weight: bold;
    padding-bottom: 20px;
    color: rgb(88, 88, 88);
}
.section-podcast-intro {
  padding: 20px;
}
.section-podcast-intro{
    height: 80vh;
    padding-top: 25vh;
}

.latest-podcast-background{
    background-color: #f8f8f8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.col-sm-6{
    padding: 30px;
}
.section-podcast-intro h1 {
  font-weight: bold;
  padding-bottom: 20px;
}

#latestPodcastContainer {
  margin-top: 20px;
}

#latestPodcastContainer .blog-card {
  width: 100%;
}

@media (min-width: 576px) {
  .section-podcast-intro h1 {
    text-align: left;
  }
}
/*Latest Podcast End*/


/*Podcast List*/
.section-podcast{
    background-color: white; 
    height: 100vh;
}

.blog-card {
    width: calc(38.33% - 30px);
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 30px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #f7f5f5;
  }

  .blog-card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .blog-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .blog-card .card-body {
    transition: transform 0.3s ease-in-out;
  }
  
  .blog-card:hover .card-body {
    transform: scale(1.02);
  }
  
  .blog-card .btn {
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .blog-card .btn:hover {
    opacity: 20;
    background-color: #194c23;
    color: white;
  }
  
  #tagContainer .btn {
    background-color: rgb(243, 243, 243);
    color: black;
  }
  
  #tagContainer .btn.active,
  #tagContainer .btn:focus {
    background-color: #333333;
    color: white;
  }
  
  .pod-title {
    /* color: #004d00; */
    white-space: normal;
  }
  
  .author-date {
    color: #004d00;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .author, .date {
    font-size: 12px;
  }

  @media screen and (max-width: 900px) {
    .tag-Container {
      width: 130%;
    }

    .pdcst-list-title{
      text-align: center;
      
    }
  }
  
  @media screen and (max-width: 768px) {
    .blog-card {
      width: 100%; 
    }
    .blog-card {
      position: relative;
      margin-top: 300px;
    }

    #tagContainer p{
      text-align: center;
    }

    .podcast-header h1{
      text-align: center;
    }

    .section-podcast{
      align-items: center;
      
    }
    .section-podcast h1{
      text-align: center;
    }
    
    
    .pdcst-list-title{
      text-align: center;
      
    }
    .tag-Container {
      width: 100%;
    }
  }

/*Podcast List End*/


/*Podcast List End*/
/*Podcast Subscription*/
.podcast-subscription{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  padding-bottom: 100px;
  margin: 0;
}
.subscription-title{
  text-align: center;
}
#mc_embed_signup {
  background: #004d00;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 50%;
  padding: 30px;
  border-radius: 20px;
}
.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  padding-top: 10px;
}
.input-field input[type="email"] {
  flex: 1;
  min-width: 0;
  height: 45px;
  padding: 10px;
  border: none;
  background-color: #fff;
  border-radius: 20px;
}
.sub-response{
  color: #ff0000;
  text-align: center;
}
/* Button CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 40px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  flex-shrink: 0;
  width: 100%;
}
.button-28:disabled {
  pointer-events: none;
}
.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
/*Podcast Subscription*/