.podcast-main{
    height: 50vh;
    padding-top: 200px
}

.section-header{
    padding-top: 150px;
    height: 68vh;
}

h5{
    font-size: 12px;
    color: rgb(107, 107, 107);
}

p{
    text-align: justify;
}

.text{
    text-align: justify;
}

.section-content{
    background-image: linear-gradient(rgb(226, 225, 225), rgb(255, 255, 255));
    height: 200px;
}


.section-content-two{
    background-color: rgb(245, 245, 245);
    height: 700vh;
}

.auther-date-section{
    margin: 4px;
}


#podcastDate{
    padding-left: 80px;
}

#podcastAuthor #podcastDate{
    opacity: 10;
    font-size: 8px;
}

#podcastTitle{
    color: black;
    font-weight: bold;
}

/*Player*/
.player {
    padding: 30px;
    position: absolute;
    left: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player {
    width: 100%;
    background-color: #004d00;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.thumbnail {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 10px;
}

.music-info {
    flex-grow: 1;
    color: white;
}

.music-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}

.music-description {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding-bottom: 15px;
}

audio {
    width: 100%;
}

  
  /*Player*/

  .on-light {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
  }
.border-gradient {
  border: 5px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 30px;
  border-color: rgb(27, 58, 27);
  background-color: white;
  width: 100%;
}

.border-gradient-purple {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left-align {
  text-align: left;
  padding: 10px;
  padding-left: 50px;
}

.left-align-title{
    text-align: left;
    padding: 20px;
}

ol{
    text-align: left;
}

.ocean-link{
    text-decoration: none;
    color: rgb(248, 168, 94);
    font-weight: bold;
    text-align: left;
}

.on-light p{
    padding-right: 20px;
    padding-left: 20px;
    
}

i{
    padding: 10px;
}

.section-about-episode{
    padding-top: 60px;
    padding-bottom: 50px;
    /* height: 200vh; */
    margin-top: 60px;
}


#share{
    cursor: pointer;
}

.shareButton{
    cursor: pointer;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  
  #modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  #modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  #modalContent {
    position: absolute;
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  
  #closeButton {
    cursor: pointer;
    text-align: right;
    padding-right: 25px;
  }
  
  
  #podcastAudioTitle{
    color: white;
  }

  /* Mobile Responsive Styles */

@media (max-width: 768px) {
    .podcast-main {
      height: auto;
      padding-top: 100px;
    }
  
    .section-header {
      padding-top: 160px;
      height: auto;
    }
  
    .section-content {
      height: 150px;
    }
  
    .audio-player {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 50px;
      margin-left: 0px;
      margin-right: 50px;
    }
  
    .thumbnail {
      margin-bottom: 10px;
    }
  
    .music-title {
      font-size: 20px;
    }
  
    .music-description {
      font-size: 14px;
    }
  
    .border-gradient {
      border-radius: 20px;
    }
  
    .left-align-title {
      padding: 10px;
    }
  
    .on-light p {
      padding: 0;
    }

    .section-about-episode{
        padding-top: 100px;
    }
    
  }
  
  /* Tablet Responsive Styles */

@media (max-width: 1024px) {
    .podcast-main {
      height: auto;
      padding-top: 100px;
    }
  
    .section-header {
      padding-top: 120px;
      height: auto;
    }
  
    .section-content {
      height: 150px;
    }
  
    .audio-player {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 50px;
    }
  
    .thumbnail {
      margin-bottom: 10px;
      display: none;
    }
  
    .music-title {
      font-size: 20px;
    }
  
    .music-description {
      font-size: 14px;
    }
  
    .border-gradient {
      border-radius: 20px;
    }
  
    .left-align-title {
      padding: 10px;
    }
  
    .auther-date-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 4px;
    }
  
    #podcastAuthor {
      opacity: 1;
      font-size: 12px;
      order: 1;
      flex-basis: 50%;
    }
  
    #podcastDate {
      padding-left: 0;
      font-size: 12px;
      order: 2;
      flex-basis: 50%;
    }
  
    .on-light p {
      padding: 0;
    }
  }
  