/*

Comila Template

http://www.templatemo.com/tm-490-comila

*/

.wow1{
    text-shadow: 2px 2px 2px black;
}

body
	{
		background: #ffffff;
   font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
	}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

h1,h2,h3 {
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  color: #ffffff;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  color: #828282;
  letter-spacing: 0.8px;
  line-height: 28px;
}

strong {
  color: lawngreen;
  font-weight: 700;
}


#about .section-title1 h2{
  font-weight: bold;
  font-size: 2.5rem;
}

@media screen and (max-height: 450px) {
  #video-container .video-content .inner {
    margin-top: 80px;
  }

  .home .image img {
    visibility: hidden;
}

.home .content p {
  margin-bottom: 140px;
}

  .home .scroll-icon {
    display: none;
  }

  .blog-card-post .banner img {
    height: 100vh !important;
  }
}


@media screen and (max-height: 420px) {
  #video-container .video-content .inner {
    margin-top: 110px;
  }

  .home .content p {
    margin-bottom: 0px;
  }

  .home .image {
    display: none;
}

  .home .content {
    margin-top: 100px;
  }

  #home .clearfix .btn {
    display: none;
  }
}


@media screen and (max-height: 380px) {
  #video-container .video-content .inner {
    margin-top: 110px;
  }

  .home .content p {
    margin-bottom: 0px;
  }

  .home .image {
    display: none;
}

  .home .content {
    margin-top: 100px;
  }

  #home .clearfix .btn {
    display: none;
  }
}



@media screen and (max-height: 320px) {
  #video-container .video-content .inner {
    margin-top: 10px;
  }

  #video-container .video-content .inner h1 {
    font-size: 55px;
  }

  .home .content {
    margin-top: 150px;
  }
}


@media screen and (max-height: 280px) {
  .home .content p {
    margin-bottom: 0px;
  }

  .home .content {
    margin-top: 170px;
  }

  .banner-heading h1 {
    margin-top: 30px;
  }
}



@media screen and (max-width: 580px) {
  #video-container .video-content .inner {
    margin-top: 20px;
  }

  .home .scroll-icon {
    display: none;
  }

  .banner-heading h1 {
    margin-top: 15px;
  }

  @keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1rem);
    }
  }
}


@media screen and (max-width: 680px) {
  .banner-heading h3 {
    display: none;
  }

  .banner-heading h1 {
    margin-top: 50px;
  }
}



@media screen and (max-width: 991px) {
  #about .section-title1 h2{
    font-weight: bold;
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 767px) {
  #about .section-title1 h2{
    font-weight: bold;
    font-size: 1.7rem;
  }

  #home .clearfix .btn {
    display: none;
  }
}


#about,
#feature,
#choosespad,
#contact {
  background: #ffffff;
}

#choosespad{
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.choose {
    padding-bottom: 20px;
    padding-top: 80px;
}

.choose__item {
    background: #ffffff;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: center;
    padding: 0 30px 60px;
    margin-bottom: 80px;
}



.section {
    padding-top: 40px;
}

.mc-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-auto {
    margin-bottom: auto;
    margin-top: auto;
}





/* Home section */

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background:url(../images/home-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  padding:0 9%;
  padding-top: 7rem; 
  z-index: 110;
  position: relative; 
}

.home .image img{
  width: 35vw;
  animation: float 5s linear infinite;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

@keyframes float{
  0%, 100%{
      transform: translateY(0rem);
  }
  50%{
      transform: translateY(-3rem);
  }
}

.home .content h3{
  font-size: 3.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  font-weight: 700;
}

.home .content p{
  font-size: 1.2rem;
  color:#fff;
  padding:1.8rem .5rem;
}

.home .scroll-icon {
  position: absolute;
  bottom: 15px;
}

.home .scrollTo {
  color: #ffffff;
  font-weight: 900;
  font-size: 2rem;
}


/* media queries  */

@media (max-width:991px){
  
  .home{
      padding:0 1%;
      padding-top: 7.5rem;
      padding-bottom: 2rem;
      min-height: 100vh;
  }

  .home .image img{
    width: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  @keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-2.2rem);
    }
  }

  .home .scrollTo {
    color: #ffffff;
    font-weight: 900;
    font-size: 1.6rem;
  }

}


@media (max-width:768px){

  .home{
      flex-flow: column-reverse;
  }

  .home .image img{
      width: 50%;
      display:block;
      margin-left:auto;
      margin-right:auto;
      margin-top: 1rem;
      margin-bottom: 2rem;
  }

  .home .content h3{
      font-size: 3rem;
  }

  .home .content p{
      padding-left: 2rem;
      padding-right: 2rem;
  }

}


@media (max-width:450px){
  
  .home .content h3{
      font-size: 2.4rem;
  }

  .home .content p {
    font-size: 1rem;
  }

  .home .image img{
      width:60%;
      margin-top: 9rem;
      margin-bottom: 2rem;
  }

}




#video-container  {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

#video-container video,
.video-overlay {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -43%);
    min-width: 100%;
    min-height: 100%;
}

#ytplayer {
    height: 300px;
}

#video-container .video-overlay {
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    width: 100%;
}

#video-container .video-content {
    z-index: 99999;
    position: absolute;
    height: 100%;
    width: 100%;
}

#video-container .video-content .inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column wrap;
}

#video-container .video-content .inner h1 {
    font-size: 34px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
}

#video-container .video-content .inner em {
    font-style: normal;
    font-weight: 1000;
}


#video-container .video-content .inner p {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 0px 30px;
}

#video-container .video-content .inner a {
    color: #fff;
    text-decoration: underline;
    background: none !important;
    font-size: xx-large;
}

#video-container .video-content .inner .scroll-icon {
    margin-top: 45px;
}

.eye{
    font-size: 90px;
    color: white;
}

.section-title {
    text-align: center;
}
.section-title1{
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 20px;
}

.section-title1 h2 {
    font-weight: 700;
    color: #323232;
    line-height: 46px;
    margin-bottom: 10px;
}

.section-title h2 {
    font-weight: 700;
    color: #323232;
    line-height: 46px;
    margin-bottom: 10px;
}

.section-title P {
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: #5c5c5c;
    font-weight: 400;
    line-height: 25px;
}

.choose__item i {
    color:green;
    size: 30px;
    margin-top: 50px;
    border: 1px green solid;
    padding: 20px;
    border-radius: 30px;
}

.choose__item h5 {
    font-size: 20px;
    color: #323232;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 35px;
}

.choose__item p {
    margin-bottom: 0;
}

.pt-5 {
    padding-top:5%;
    padding-left: 5%;
    padding-right: 5%;
}

#about2 {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background: white;
}
#about,
#feature,
#contact,
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

footer .footer-logo {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  footer img {
    max-height: 70%;
  }
  
}

.section-title {
  padding-bottom: 62px;
}
.section-title h1 {
  padding-bottom: 10px;
}
#about .section-title {
  padding-bottom: 22px;
}
#contact .section-title {
  text-align: center;
}


/* preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 70px;
  position: relative; }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

#slideshow {
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  backface-visibility: hidden;
}

.pb-5{
    padding-bottom: 5%;
}
b{
    color: white;
}

/* home section */
#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  text-align: center;
    padding-top:10vh;
  height: 100vh;
  color: #ffffff;
}

#particles-js{
    align-items: center;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    background-color: #194c23;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

canvas {
    width: 100%;
    height: 100%;
}

.aboutus{
    background: #194c23;
}

#home .home-thumb {
  text-align: center;
}

#home .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 42px;
    margin-right: 16px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: #fff;
  color: #333;
  border-color: transparent;
}

#home .btn-success {
    background: #ffffff;
    color: #242424;
    border-color: transparent;
}


/* about section */
#about h3 {
    margin-top: 0px;
}

#about .about-thumb {
  padding-top: 10px;
}

.about_section .about-card-heading {
  padding-top: 20px;
}


/* feature section starts*/
#feature {
  background: #194c23;
}

#feature .icon {
  color: #ffffff;
  font-size: 42px;
  padding-right: 14px;
}

#feature .talk-btn-center {
  margin-left: auto;
  margin-right: auto;
}

#feature p {
  color: white;
}

#feature .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 62px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#feature .btn:hover {
  background: #ffffff;
  color: #333;
  border-color: transparent;
}

#history{
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* End of feature section */



/* Our Values Section Starts */

#values {
  margin-bottom: 50px;
}

#values .values-mainheading {
  padding-top: 80px;
  padding-bottom: 80px;
}

#values .values-para {
  padding-top: 25px;
  font-weight: 700;
}


@media(max-width: 767px) {
  #values .col {
    flex-basis: auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-bottom: 80px;
  }
}

@media(min-width: 768px) and  (max-width: 992px){
  #values .col {
    flex-basis: auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 50%;
    padding-bottom: 80px;
  }
}

/* Our Values Section Starts */



/* Sustainable Development Goals Section Starts */ 
#development-goals {
  padding-top: 80px;
  padding-bottom: 100px;
}

#development-goals .section-title {
  margin-bottom: 0;
}

.sdg-image {
  padding: 0 20px 20px 15px;
}

#development-goals .section-title .sdg-mainheading {
  margin-bottom: 40px;
}


#development-goals .section-title .sdg-subheading {
  color: #66A82B;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.6rem;
}


@media screen and (max-width: 768px) {
  #development-goals .section-title .sdg-subheading {
    font-size: 1.2rem;
  }
}
/* Sustainable Development Goals Section Ends */ 



/* Blog section starts */

#blog {
  padding-bottom: 80px;
  padding-top: 150px;
}

#blog .share {
  padding-top: 10px;
  padding-bottom: 10px;
}

#blog .social i {
  margin-right: 10px;
}

#blog .share i {
  color: #333;
}

#blog .twitter-btn:hover {
  color: #1DA1F2;
  cursor: pointer;
}

#blog .linkedin-btn:hover {
  color: #0e76a8;
  cursor: pointer;
}


#blog .whatsapp-btn:hover {
  color: #4FCE5D;
  cursor: pointer;
}

#blog .facebook-btn:hover {
  color: #3b5998;
  cursor: pointer;
}

#blog .card {
  width: 400px;
  border: none;
  border-radius: 14px !important;
  margin: 0;
}

#blog .area1 {
  background-color: #b5b2f1;
  border-top-left-radius: 14px !important;
  border-top-right-radius: 14px !important;
  padding-top: 83px !important
}

#blog .image {
  top: -62px;
  position: relative
}

#blog .image img {
  box-shadow: 5px 6px 6px 2px #e9ecef
}

#blog .area2 {
  background-color: #fff;
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important
}

#blog .name {
  font-size: 25px;
  font-weight: 650
}

#blog .information {
  color: #9FA8DA;
  font-weight: 500;
  font-size: 16px
}

#blog .blog-contents {
  text-align: justify;
}

.social-section {
  padding-bottom: 20px;
}

.author-image{
  margin-right:100px;
 
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 18px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.whatsapp {
  background: #4FCE5D;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}


@media screen and (max-width: 1250px) {
   .icon-bar {
     display: none;
   }
}


@media screen and (max-width: 400px) {
  #blog .post-by {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 516px) {
  .social-section {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  #blog .card {
    width: 280px;
  }

  #blog .sub-heading {
    text-align: center;
  }

}


@media screen and (max-width: 768px) {
  #blog .sub-heading {
    font-size: 1.1rem;
  }
}
/* Blog section Ends */




/* Blog Tag Identification Section Starts */

.blog-tag-identify #blog-flters {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
}
.blog-tag-identify #blog-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}
.blog-tag-identify #blog-flters li:hover, .blog-tag-identify #blog-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}
.blog-tag-identify .blog-item {
  margin-bottom: 30px;
}


@media screen and (max-width: 450px) {
  .blog-tag-identify ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* Blog Tag Identification Section Ends */




/* Blog Main Card Post Section Starts */

.blog-card-post {
  position: relative;
  text-align: center;
}

.blog-card-post .banner img{
  width: 100%;
  height: 55vh;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.blog-card-post .banner-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #000000;
  margin-top: 50px;
}

.blog-card-post .banner-heading h1{
  font-weight: 900;
  font-size: 4rem;
  color: white;
  text-shadow: 3px 3px 6px #000;
}

.blog-card-post .banner-heading h3{
  font-weight: 900;
  font-size: 1.8rem;
  color: white;
  text-shadow: 3px 3px 6px #000;
}

#blog-main-card-post {
  padding-top: 130px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.blog-card-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.blog-card-main {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .05);
  border: 0.5px solid #E6E6E6;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.blog-card-image {
  padding-left: 15px;
  padding-right: 15px;
}

.blog-post-social-btn {
  margin-top: 30px;
}

.bloggy-author {
  margin-bottom: 0;
}

.blog-post-description {
  padding-top: 20px;
  padding-bottom: 25px;
}

.blog-post-read-button {
  background: #194c23;
  width: 150px;
  margin: auto;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.blog-post-read-button a {
    color: #fff;
}


.blog-post-read-button:after {
  content: "\2794";
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  transition: all .4s;
}

.blog-post-read-button:hover:after {
  right: 5px;
  transition: all .4s;
}

.blog-card-post-content {
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 1199px) {
  .blog-card-post .banner-heading h1{

    font-size: 3rem;
  }
  
  .blog-card-post .banner-heading h3{

    font-size: 2rem;
  }

  .blog-post-title {
    margin-top: 40px;
  }
}


@media screen and (max-width: 991px) {
  .blog-card-info {
    display: block;
    font-size: 14px;
  }

}

@media screen and (max-width: 768px) {
  .blog-post-title h3{
    font-size: 18px;
  }

  .blog-card-post .banner-heading h1{

    font-size: 2.4rem;
  }
  
  .blog-card-post .banner-heading h3{

    font-size: 1.2rem;
  }
}

/* Blog Main Card Post Section Ends */



/* Career section starts */

#career .career-banner {
  background: #000;
}

#career .career-banner-image {
  padding-left: 0;
  padding-right: 0;
}

#career .career-banner-heading {
  padding-right: 0;
  padding-left: 0;
}

#career .career-banner-heading h1{
  color: #18d26e;
}

#career .career-banner-heading span{
  color:#fff;
  font-size: 22px;
}

#career {
  margin-top: 150px;
  margin-bottom: 100px;
}

#career .career-card-section {
  margin-top: 150px;
}

#career .career-card {
  border: 2px solid black;
  background: #18d26e;
  margin-bottom: 50px;
}

.career-cards {
  padding-top: 50px;
  padding-bottom: 50px;
}

.careertit .section-title {
    padding-bottom: 0px !important;
}

.career-cards .section-title {
  margin-bottom: 0;
}

#career .career-card-title {
  color: #000;
}

.career-benefits-icon {
  padding-top: 30px;
}

.career-info .career-col-reverse{
  padding-top: 70px;
}

.career-info {
  padding-top: 20px;
  padding-bottom: 80px;
}


.career-job-listings {
  padding-top: 40px;
  padding-bottom: 80px;
}

.job-listing-mainheading {
  text-align: center;
}



.career-job-listings .job-description {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-md-4.col-sm-6.col-xs-12.job-lising-card {
    padding-top: 70px;
}

.career-job-listings .job-content {
  box-shadow: 4px 3px 2px 2px #DCDCDC;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  border: 0.5px solid #D1D1D1;
  transition: 0.4s ease-in;
  transition: 1s ease-out;
}

.career-job-listings .job-heading {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 1px 2px 2px #18d26e;
}

.job-listing-button {
  padding-top: 10px;
  padding-bottom: 20px;
}

.card-top-design {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}

.job-listing-button a{
  font-size: 16px;
  border: 1.5px solid #194c23;
  color: #fff;
  padding: 5px 30px;
  background: #194c23;
  transition: .4s ease-in-out;
  font-weight: bold;
}

.job-content:hover {
  transform: scale(1.04);
}

.job-listing-button a:hover {
  background: transparent;
  color: #194c23;
}

.career-end-note {
  padding-top: 60px;
  padding-bottom: 60px;
}

.career-end-note h1 {
  background: #194c23;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 2px 3px 2px black;
}

.career-end-note h3 {
  padding-top: 20px;
  color: #194c23;
  font-weight: 900;
  font-size: 26px;
}

@media screen and (max-width: 991px) {
  #career .career-banner-heading{
    margin-top: 70px;
    margin-bottom: 70px;
  }

  #career .career-banner-heading h1{
    font-size: 40px;
  }

  #career .career-banner-heading span{
    font-size: 34px;
  }

  .career-info .text-success {
    padding-top: 20px;
  }

  .career-info .career-col-reverse{
    display: flex;
    flex-flow: column-reverse;
  }

  .job-content {
    margin-bottom: 60px;
  }
}


@media screen and (max-width: 767px) {
  #career .career-banner-heading{
    margin-top: 50px;
    margin-bottom: 40px;
  }

  #career .career-banner-heading h1{
    font-size: 40px;
  }

  #career .career-banner-heading span{
    font-size: 34px;
  }

  .career-job-listings .job-heading {
    font-size: 18px;
  }

  .career-end-note h3 {
    font-size: 16px;
  }

  .job-content {
    margin-right: 30px;
    margin-left: 30px;
  }
}


@media screen and (max-width: 550px) {
  #career .career-banner-heading{
    margin-top: 40px;
    margin-bottom: 30px;
  }

  #career .career-banner-heading h1{
    font-size: 34px;
  }

  #career .career-banner-heading span{
    font-size: 28px;
  }

  .career-end-note h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  #career .career-banner-heading{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  #career .career-banner-heading h1{
    font-size: 26px;
  }

  #career .career-banner-heading span{
    font-size: 22px;
  }

  .job-content {
    margin-right: 0;
    margin-left: 0;
  }
}



/* Career section ends */


/* contact section  */
#contact .form-control {
  background: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #999;
}

#contact input {height: 55px;}

#contact input[type='submit'] {
  background: #242424 !important;
  border: none;
  color: #ffffff !important;
  background: #242424;
  border: 1.5px solid #999;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#contact input[type='submit']:hover {
  background: #194c23 !important;
}


/* footer section  */
footer {
  background: #111112;
}

footer .copyright-text {
  padding-top: 10px;
}

footer a {
	color: #fff;
    text-decoration: none;
}

footer a:hover {
	color: white;
    font-size: 20px;
    text-decoration: none;
}

.media-object img{
    padding-right: 30px;
}

/* svg */
.svgcolor-light {
  /*position: absolute;
  top: 0;
  left: 0; */
  position: relative;
  bottom: 104px;
}
.svgcolor-light > path {
  fill: white;
  stroke: white;
  stroke-width: 0;
}

/* modal */
.modal-dialog .modal-content {
  background: url('../images/modal-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0;
  text-align: center;
  padding: 100px 50px 100px 50px;
  position: relative;
}

.btn:focus {
  outline: none;
}

.modal-header {
  border-bottom: 0px;
}

.modal-dialog .close {
  color: #194c23;
  font-size: 40px;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: 40px;
  right: 40px;
  border: 2px solid #ffffff;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  line-height: 35px;
  text-align: center;
}
.modal-dialog .close:focus {
  outline: none;
}

.modal-dialog form {
  padding: 20px;
}
.modal-dialog form input {
  height: 55px;
}
.modal-dialog form .form-control {
  background: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}

.modal-dialog form input[type="submit"] {
  background: #ffffff;
  color: #242424;
  text-transform: uppercase;
  margin-top: 30px;
}
.modal-dialog form input[type="submit"]:hover {
  background: #194c23;
  border-color: transparent;
  color: #ffffff;
}

/* Back top */
.go-top {
  background-color: #eee;
  bottom: 2em;
  right: 2em;
  color: #111112;
  font-size: 22px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #194c23;
    color: #ffffff;
}


/* social icon section  */
.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 100px;
  color: #626262;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin-top: 12px;
  margin-right: 10px;
}

.social-icon li a:hover {
  background-color: #ffffff;
  color: #111112;
}


/* Mobile Responsive */
@media (max-width: 980px) {

  h1 {
    font-size: 2.4rem;
  }

  #home {
    height: 65vh;
  }

  #particles-js {
      height: 65vh;
  }

  #about .section-title {
    padding-bottom: 12px;
  }

  #about .text-justify {
    padding: 30px;
  }

  #feature .col-md-4 {
    padding-bottom: 32px;
  }

}


@media (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

}


@media (max-width: 700px) {

  #home {height: 100vh;}

  .modal-dialog .modal-content {
    padding: 50px 20px;
  }

  footer {text-align: center;}
  footer .col-sm-6 {
    padding-bottom: 32px;
  }

  .modal-dialog .close {
  font-size: 35px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

}



/* My Agro-guard benefits section starts */
.benefits {
  background: #fff;
  margin-top: 120px;
}

.benefits-heading {
  text-shadow: 0px 5px 3px var(--color-accent);
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.card--heading {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.block {
  padding: 5% 16% 2% 16%;
}

.grid {
  grid-gap: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.agro-image {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  margin-bottom: 2rem;
}

.benefits .card {
  background: linear-gradient(180deg, rgba(9,172,79,0.9332107843137255) 0%, rgba(2,83,32,0.9332107843137255) 120%);
  transition: transform .4s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.benefits .card:hover {
  transform: scale(1.03);
}

.card--header, .card--heading {
  text-align: center;
  color: #fff;
  font-weight: bolder;
  text-shadow: 1px 2px 2px #000;
}

.card--body {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  padding-right: 0.8rem;
}


@media screen and (max-width: 700px) {
  .benefits-heading {
      font-size: 1.8rem;
  }

  .agro-image {
      height: 40vw;
  }

  .card--heading {
      margin-top: 0;
  }

  .block {
    padding: 5% 2% 2% 2%;
  }

}

@media screen and (min-width: 800px) {
  .block {
      padding: 3% 18% 2% 18%;
  }

  .benefits-heading {
    font-size: 2.5rem;
  }
}



@media screen and (min-width: 1000px) {
  .block {
      padding: 3% 4% 2% 4%;
  }

  .grid--cols-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  .agro-image {
    height: 15vw;
}

  .grid {
    grid-gap: 2rem;
  }
}


@media screen and (min-width: 1200px) {
  .block {
      padding: 2% 0% 0% 0%;
  }

  .grid {
      grid-gap: 3rem 0rem;
  }

  .grid--cols-3 {
      grid-template-columns: repeat(3, 1fr);
  }

  .agro-image {
      height: 12vw;
  }

  .card--heading {
    font-size: 1.6rem;
}
}

/* My Agro-guard benefits section ends */





.error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.error-message br + br {
    margin-top: 25px;
}

 .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
 .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

 .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.d-block{
    display: block !important;
}


#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


.feature{
    background: white;
    padding-top: 50px;
}




.feature .feature-content h2,
.feature .feature-content p {
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .feature .feature-content h2,
    .feature .feature-content p {
        text-align: center;
    }
}

@media (max-width: 991px) {
  .feature .text-success {
    margin-top: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
    .feature .testimonial {
        text-align: center;
    }
}

.feature .testimonial p {
    font-family: "Lora", serif;
    margin-bottom: 10px;
    font-style: italic;
    color: #242424;
}

.feature .testimonial ul.meta li {
    font-size: 12px;
    margin-right: 10px;
}

.feature .testimonial ul.meta li img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.address{
    background: white;
    padding-top: 50px;
}

.address .block .address-block {
    text-align: center;
}

.address .block .address-block .icon {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.address .block .address-block .icon i {
    display: block;
    height: 100px;
    width: 100px;
    background: #fafafa;
    border-radius: 100%;
    font-size: 45px;
    text-align: center;
    line-height: 100px;
}

.google-map {
    position: relative;
}

.google-map #map_canvas {
    height: 400px;
    width: 100%;
}

@media (max-width: 768px) {
    .google-map #map_canvas {
        height: 350px;
    }
}
.page-title {
    text-align: center;
    background: white;
    padding-left: 20%;
    padding-right: 20%;
}

.feature1{
    background: white;
}
.feature1 .feature-item .icon {
    margin-bottom: 25px;
}

.feature1 .feature-item .icon i {
    font-size: 48px;
    color: #7d71d3;
}

.feature1 .feature-item .content h5 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.feature1 .feature-item:not(:last-child) {
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    .feature1 .feature-item {
        margin-bottom: 80px;
    }
}

.feature1 .app-screen {
    margin: 40px 0;
}

.hex, .about_section {
    background: white;
}

.services {
    padding-bottom: 30px;
    background-color: white;
    padding-top: 100px;
}
.services .icon-box {
    margin-bottom: 20px;
    padding: 30px 15px;
    border-radius: 6px;
    background: #fff;
}
.services .icon-box i {
    float: left;
    color: #4eb478;
    font-size: 40px;
    line-height: 0;
}
.services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.services .icon-box h4 a {
    color: #444444;
    transition: 0.3s;
}
.services .icon-box .icon-box:hover h4 a {
    color: #4eb478;
}
.services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}


/*wave*/
.wave {
    position: absolute;
    width: 100%;
    height: 100%;
}
.wave::before, .wave::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    bottom: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 45%;
    transform: translateX(-50%) rotate(0);
    animation: rotate 6s linear infinite;
    z-index: 10;
}
.wave::after {
    border-radius: 47%;
    background-color: rgba(255, 255, 255, .9);
    transform: translateX(-50%) rotate(0);
    animation: rotate 10s linear -5s infinite;
    z-index: 20;
}
@keyframes rotate {
    50% {
        transform: translateX(-50%) rotate(180deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

.progress-wrapper {
    height: 130px;
    overflow: hidden;
}




/*rotation*/
.about_section{
    background: white;
}

.about_section .box {
    flex-direction: column;
    align-items: center;
}

.about_section .box img {
    width: 100%;
}

.about_section .box .img-box {
    position: relative;
    width: 250px;
    margin: 50px 0;
}

.about_section .box .img-box .about_img-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    animation: rotateAnimation 3s infinite;
}

@keyframes rotateAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    49% {
        transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
}

.about_section .box .detail-box {
    margin-top: 35px;
    text-align: center;
}

.about_section .box .detail-box a {
    display: inline-block;
    padding: 12px 60px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 40px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 10px;
}

.about_section .box .detail-box a:hover {
    background-color: #333333;
}


.card {
    border: darkslategray 1px solid;
    margin: 10px 30px;
    border-radius: 20px;
}

.padding {
    padding-top: 100px;
}

.full{
    max-width: 69% !important;
    margin-left:15%;
    margin-right:15%;
}




