/*

Comila Template

http://www.templatemo.com/tm-490-comila

*/

.wow1 {
  text-shadow: 2px 2px 2px black;
}

body {
  background: #ffffff;
  font-family: "LEXEND", sans-serif;
  font-weight: 400;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}

.preloader-image {
  height: 20px;
  padding-top: 5px;
}

h1,
h2,
h3 {
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  color: #ffffff;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  color: #828282;
  letter-spacing: 0.8px;
  line-height: 28px;
}

strong {
  color: aqua;
  font-weight: 700;
}

#about .section-title1 h2 {
  font-weight: bold;
  font-size: 2.5rem;
}

@media screen and (max-height: 450px) {
  #video-container .video-content .inner {
    margin-top: 80px;
  }

  .home .image img {
    visibility: hidden;
  }

  .home .content p {
    margin-bottom: 140px;
  }

  .home .scroll-icon {
    display: none;
  }

  .blog-card-post .banner img {
    height: 100vh !important;
  }
}

@media screen and (max-height: 420px) {
  #video-container .video-content .inner {
    margin-top: 110px;
  }

  .home .content p {
    margin-bottom: 0px;
  }

  .home .image {
    display: none;
  }

  .home .content {
    margin-top: 100px;
  }

  #home .clearfix .btn {
    display: none;
  }
}

@media screen and (max-height: 380px) {
  #video-container .video-content .inner {
    margin-top: 110px;
  }

  .home .content p {
    margin-bottom: 0px;
  }

  .home .image {
    display: none;
  }

  .home .content {
    margin-top: 100px;
  }

  #home .clearfix .btn {
    display: none;
  }
}

@media screen and (max-height: 320px) {
  #video-container .video-content .inner {
    margin-top: 10px;
  }

  #video-container .video-content .inner h1 {
    font-size: 55px;
  }

  .home .content {
    margin-top: 150px;
  }
}

@media screen and (max-height: 280px) {
  .home .content p {
    margin-bottom: 0px;
  }

  .home .content {
    margin-top: 170px;
  }

  .banner-heading h1 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 580px) {
  #video-container .video-content .inner {
    margin-top: 20px;
  }

  .home .scroll-icon {
    display: none;
  }

  .banner-heading h1 {
    margin-top: 15px;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-1rem);
    }
  }
}

@media screen and (max-width: 680px) {
  .banner-heading h3 {
    display: none;
  }

  .banner-heading h1 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 991px) {
  #about .section-title1 h2 {
    font-weight: bold;
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 767px) {
  #about .section-title1 h2 {
    font-weight: bold;
    font-size: 1.7rem;
  }

  #home .clearfix .btn {
    display: none;
  }
}

#about,
#feature,
#choosespad,
#contact {
  background: #ffffff;
}

#choosespad {
  background: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.choose {
  padding-bottom: 20px;
  padding-top: 80px;
}

.choose__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-align: center;
  padding: 0 30px 60px;
  margin-bottom: 80px;
  height: 450px;

  z-index: 0;
  transition: 0.2s all;
  position: relative;
}
/* //// */
.choose__item:hover{
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  background-color: #ffffff;
 
}
/* //// */
.section {
  padding-top: 40px;
}

.mc-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-auto {
  margin-bottom: auto;
  margin-top: auto;
}

/* Home section */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/home-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  padding: 0 9%;
  padding-top: 7rem;
  z-index: 110;
  position: relative;
}

.home .image img {
  width: 35vw;
  animation: float 5s linear infinite;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3rem);
  }
}

.home .content h3 {
  font-size: 3.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  font-weight: 700;
}

.home .content p {
  font-size: 1.2rem;
  color: #fff;
  padding: 1.8rem 0.5rem;
}

.home .scroll-icon {
  position: absolute;
  bottom: 15px;
}

.scrollTo {
  color: #ffffff;
  font-weight: 900;
  font-size: 2rem;
}

/* media queries  */

@media (max-width: 991px) {
  .home {
    padding: 0 1%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
    min-height: 100vh;
  }

  .home .image img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-2.2rem);
    }
  }

  .scrollTo {
    color: #ffffff;
    font-weight: 900;
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .home {
    flex-flow: column-reverse;
  }

  .home .image img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .home .content h3 {
    font-size: 3rem;
  }

  .home .content p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 450px) {
  .home .content h3 {
    font-size: 2.4rem;
  }

  .home .content p {
    font-size: 1rem;
  }

  .home .image img {
    width: 60%;
    margin-top: 9rem;
    margin-bottom: 2rem;
  }
}

#video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

#video-container video,
.video-overlay {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -43%);
  min-width: 100%;
  min-height: 100%;
}

#about .about-thumb p {
  margin-left: 50px;
  text-align: justify;
}

#ytplayer {
  height: 300px;
  width: 450px;
}

@media screen and (max-width: 991px) {
  #about .row .youtube-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  #about .about-thumb {
    text-align: justify;
    margin-top: 30px;
  }

  #about .about-thumb p {
    margin-left: 0px;
  }
}

@media screen and (max-width: 575px) {
  #about .about-thumb p {
    margin-left: 20px;
    margin-right: 20px;
  }

  #ytplayer {
    height: 250px;
    width: 400px;
  }
}

@media screen and (max-width: 440px) {
  #about .about-thumb p {
    margin-left: 20px;
    margin-right: 20px;
  }

  #ytplayer {
    height: 250px;
    width: 350px;
  }
}

@media screen and (max-width: 370px) {
  #about .about-thumb p {
    margin-left: 20px;
    margin-right: 20px;
  }

  #ytplayer {
    height: 150px;
    width: 270px;
  }
}

#video-container .video-overlay {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

#video-container .video-content {
  z-index: 99999;
  position: absolute;
  height: 100%;
  width: 100%;
}

#video-container .video-content .inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-flow: column wrap;
}

#video-container .video-content .inner h1 {
  font-size: 34px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 800;
  text-align: center;
}

#video-container .video-content .inner em {
  font-style: normal;
  font-weight: 1000;
}

#video-container .video-content .inner p {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 0px 30px;
}

#video-container .video-content .inner a {
  color: #fff;
  text-decoration: underline;
  background: none !important;
  font-size: xx-large;
}

#video-container .video-content .inner .scroll-icon {
  margin-top: 45px;
}

.eye {
  font-size: 90px;
  color: white;
}

.section-title {
  text-align: center;
}
.section-title1 {
  margin-bottom: 0px;
  text-align: center;
  padding-bottom: 20px;
}

.section-title1 h2 {
  font-weight: 700;
  color: #323232;
  line-height: 46px;
  margin-bottom: 10px;
}

.section-title h2 {
  font-weight: 700;
  color: #323232;
  line-height: 46px;
}

.section-title P {
  font-size: 15px;
  color: #5c5c5c;
  font-weight: 400;
  line-height: 25px;
}

.choose__item i {
  color: green;
  size: 30px;
  margin-top: 50px;
  border: 1px green solid;
  padding: 20px;
  border-radius: 30px;
}

.choose__item h5 {
  font-size: 20px;
  color: #323232;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 35px;
}

.choose__item p {
  margin-bottom: 0;
}

.pt-5 {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#about2 {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background: white;
}
#about,
#feature,
#contact,
footer {
  padding-top: 100px;
  padding-bottom: 80px;
}

footer .footer-logo {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  footer img {
    max-height: 70%;
  }
}

.section-title {
  padding-bottom: 62px;
}

.section-title h1 {
  padding-bottom: 10px;
}

#about {
  padding-top: 70px;
  padding-bottom: 70px;
}

#about .section-title {
  padding-bottom: 22px;
}

.a-name{
  padding-top: 20px;
}

#contact .section-title {
  text-align: center;
}

/* preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 70px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#slideshow {
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  backface-visibility: hidden;
}

.pb-5 {
  padding-bottom: 5%;
}
b {
  color: white;
}

/* home section  starts */
#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-top: 10vh;
  height: 100vh;
  color: #ffffff;
}

#particles-js {
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
  background-color: #194c23;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

canvas {
  width: 100%;
  height: 100%;
}

.aboutus {
  background: #194c23;
}

#home .home-thumb {
  text-align: center;
}

#home .btn {
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 42px;
  margin-right: 16px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-shadow: none;
}

#home .btn:hover {
  background: #fff;
  color: #333;
  border-color: transparent;
}

#home .btn-success {
  background: #ffffff;
  color: #242424;
  border-color: transparent;
}

@media screen and (max-height: 500px) {
  #home .btn-success {
    display: none;
  }

  #home .begin-btn {
    display: none;
  }

  #home {
    height: 100vh !important;
  }

  #home .home-thumb img {
    height: 100px;
  }

  #home .home-thumb {
    margin-top: 70px;
  }
}

/* home section  ends */

/* about section starts */

#about h3 {
  margin-top: 0px;
}

#about .about-thumb {
  padding-top: 10px;
}

.about_section .about-card-heading {
  padding-top: 20px;
  color: #000;
}

.logo {
  height: 35px;
  padding-right: 8px;
}

/* about section ends */

/* feature section starts*/

#feature {
  background: #194c23;
}

#feature .icon {
  color: #ffffff;
  font-size: 42px;
  padding-right: 14px;
}

#feature .talk-btn-center {
  margin-left: auto;
  margin-right: auto;
}

#feature p {
  color: white;
}

#feature .btn {
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#feature .btn:hover {
  background: #ffffff;
  color: #333;
  border-color: transparent;
}

#feature #unclickable {
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 30px;
  cursor: default;
}

@media screen and (min-width: 990px) {
  #feature .row {
    margin-right: 0;
  }
}
/* End of feature section */

/* Changed CSS*/

.address-container {
  display: flex;
  justify-content: center;
}

.address-div {
  flex: 0.3;
  border: 2px solid rgb(238, 237, 237);
  box-shadow: 4px 4px 2px rgb(238, 237, 237);
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.div-span {
  padding-top: 30px;
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.div-line {
  background-color: rgb(233, 231, 231);
  height: 3px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.last-span {
  padding-top: 20px;
}

.contact-cards {
  padding-top: 80px;
}

.contact-cards .con-card {
  padding: 40px;
}

.contact-cards .con-card h3 {
  margin-top: 40px;
}

.contact-cards .div-line {
  margin-bottom: 20px;
}

.contact-cards .section-title {
  padding-bottom: 20px;
}

.contact-cards .section-title h1 {
  padding-bottom: 0;
}

.contact-cards .contact-us-desc {
  margin-top: 25px;
}

.line {
  background-color: green;
  height: 4px;
  width: 80px;
  margin: auto;
}

.email-span {
  color: rgb(0, 128, 0);
}

.img-icon {
  height: 50px;
  width: 50px;
}
.addrss {
  padding-bottom: 80px;
  padding-top: 50px;
}

@media only screen and (max-width: 500px) {
  .address-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  .address-div {
    margin-top: 20px;
  }
}

/* history section starts*/

#history {
  background: white;
  padding-top: 100px;
  padding-bottom: 20px;
}

#history .section-title {
  padding-bottom: 10px;
}

#history p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

/* history section ends*/

/* Our Values Section Starts */

#values {
  margin-bottom: 50px;
}

#values .values-mainheading {
  padding-bottom: 30px;
}

#values .values-para {
  padding-top: 25px;
  font-weight: 700;
}

@media (max-width: 767px) {
  #values .col {
    flex-basis: auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-bottom: 80px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #values .col {
    flex-basis: auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 50%;
    padding-bottom: 80px;
  }
}

/* Our Values Section Starts */

/* Sustainable Development Goals Section Starts */
#development-goals {
  padding-bottom: 100px;
}

#development-goals .section-title {
  margin-bottom: 0;
}

.sdg-image {
  padding: 0 20px 20px 15px;
  height: 210px;
  width: 220px;
  margin-top: 50px;
}

#development-goals .section-title .sdg-subheading {
  color: #66a82b;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  #development-goals .section-title .sdg-subheading {
    font-size: 1.2rem;
  }
}
/* Sustainable Development Goals Section Ends */

/* Our Partners section starts */
#our-partners {
  padding-top: 20px;
  padding-bottom: 80px;
}

#our-partners .partner {
  width: 200px;
  margin-top: 50px;
}

/* Our Partners section ends */

/* Sustainable Development Goals Video Starts*/
#about-sdg-video {
  padding-bottom: 60px;
}

#about-sdg-video #ytplayer {
  width: 800px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  #about-sdg-video .row .youtube-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  #about-sdg-video #ytplayer {
    width: 650px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  #about-sdg-video #ytplayer {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  #about-sdg-video #ytplayer {
    width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  #about-sdg-video #ytplayer {
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  #about-sdg-video #ytplayer {
    width: 250px;
    height: auto;
  }
}

/* Sustainable Development Goals Video Ends*/

/* Blog section starts */

#blog {
  padding-bottom: 80px;
  padding-top: 150px;
}

#blog .share {
  padding-top: 10px;
  padding-bottom: 10px;
}

#blog .social i {
  margin-right: 10px;
}

#blog .share i {
  color: #333;
}

#blog .twitter-btn:hover {
  color: #1da1f2;
  cursor: pointer;
}

#blog .linkedin-btn:hover {
  color: #0e76a8;
  cursor: pointer;
}

#blog .whatsapp-btn:hover {
  color: #4fce5d;
  cursor: pointer;
}

#blog .facebook-btn:hover {
  color: #3b5998;
  cursor: pointer;
}

#blog .card {
  width: 400px;
  border: none;
  border-radius: 14px !important;
  margin: 0;
}

#blog .area1 {
  background-color: #b5b2f1;
  border-top-left-radius: 14px !important;
  border-top-right-radius: 14px !important;
  padding-top: 83px !important;
}

#blog .image {
  top: -62px;
  position: relative;
}

#blog .image img {
  box-shadow: 5px 6px 6px 2px #e9ecef;
}

#blog .area2 {
  background-color: #fff;
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
}

#blog .name {
  font-size: 25px;
  font-weight: 650;
}

#blog .information {
  color: #9fa8da;
  font-weight: 500;
  font-size: 16px;
}

#blog .blog-contents {
  text-align: justify;
}
#blog .blog-contents strong {
  color: #000;
}
.social-section {
  padding-bottom: 20px;
}

.author-image {
  margin-right: 100px;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 18px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.whatsapp {
  background: #4fce5d;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

@media screen and (max-width: 1250px) {
  .icon-bar {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #blog .post-by {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 516px) {
  .social-section {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  #blog .card {
    width: 280px;
  }

  #blog .sub-heading {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #blog .sub-heading {
    font-size: 1.1rem;
  }
}
/* Blog section Ends */

/* Blog Tag Identification Section Starts */

.blog-tag-identify #blog-flters {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
}
.blog-tag-identify #blog-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "LEXEND", sans-serif;
}
.blog-tag-identify #blog-flters li:hover,
.blog-tag-identify #blog-flters li.filter-active {
  background: #194c23;
  color: #fff;
}
.blog-tag-identify .blog-item {
  margin-bottom: 30px;
}

@media screen and (max-width: 450px) {
  .blog-tag-identify ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* Blog Tag Identification Section Ends */

/* Blog Main Card Post Section Starts */

.blog-card-post {
  position: relative;
  text-align: center;
}

.blog-card-post .banner img {
  width: 100%;
  height: 55vh;
  padding-top: 10vh;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.blog-card-post .banner-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #000000;
  margin-top: 50px;
}

.blog-card-post .banner-heading h1 {
  font-weight: 900;
  font-size: 4rem;
  color: white;
  text-shadow: 3px 3px 6px #000;
}

.blog-card-post .banner-heading h3 {
  font-weight: 900;
  font-size: 1.8rem;
  color: white;
  text-shadow: 3px 3px 6px #000;
}

#blog-main-card-post {
  padding-top: 60px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.blog-card-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.blog-card-main {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  border: 0.5px solid #e6e6e6;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.blog-card-image {
  padding-left: 15px;
  padding-right: 15px;
}

.blog-post-social-btn {
  margin-top: 30px;
}

.bloggy-author {
  margin-bottom: 0;
}

.blog-post-description {
  padding-top: 20px;
  padding-bottom: 25px;
}

.blog-post-read-button {
  background: #194c23;
  width: 150px;
  margin: auto;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.blog-post-read-button a {
  color: #fff;
}

.blog-post-read-button:after {
  content: "\2794";
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  transition: all 0.4s;
}

.blog-post-read-button:hover:after {
  right: 5px;
  transition: all 0.4s;
}

.blog-card-post-content {
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 1199px) {
  .blog-card-post .banner-heading h1 {
    font-size: 3rem;
  }

  .blog-card-post .banner-heading h3 {
    font-size: 2rem;
  }

  .blog-post-title {
    margin-top: 40px;
  }
}

@media screen and (max-width: 991px) {
  .blog-card-info {
    display: block;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .blog-post-title h3 {
    font-size: 18px;
  }

  .blog-card-post .banner-heading h1 {
    font-size: 2.4rem;
  }

  .blog-card-post .banner-heading h3 {
    font-size: 1.2rem;
  }
}

/* Blog Main Card Post Section Ends */

/* Career section starts */

#career .career-banner {
  background: #000;
}

#career .career-banner-image {
  padding-left: 0;
  padding-right: 0;
}

#career .career-banner-heading {
  padding-right: 0;
  padding-left: 0;
}

#career .career-banner-heading h1 {
  color: #18d26e;
}

#career .career-banner-heading span {
  color: #fff;
  font-size: 22px;
}

#career {
  margin-top: 150px;
  margin-bottom: 20px;
}

#career .career-card-section {
  margin-top: 150px;
}

#career .career-card {
  border: 2px solid black;
  background: #18d26e;
  margin-bottom: 50px;
}

.career-mission {
  padding-bottom: 0;
  margin-right: 15px;
  margin-left: 15px;
}

.career-mission .section-title {
  text-align: justify;
}

.career-cards {
  padding-top: 40px;
  padding-bottom: 50px;
}

.career-cards .section-title {
  padding-bottom: 40px;
}

.careertit .section-title {
  padding-bottom: 0px !important;
}

.career-cards .section-title h2 {
  margin-bottom: 10px;
  color: #005a0b;
}
.career-cards .section-title p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  color: #8c8c8c;
}

.career-cards .section-title {
  margin-bottom: 0;
}

#career .career-card-title {
  color: #000;
}

.career-benefits-icon {
  padding-top: 30px;
}

.career-info .career-col-reverse {
  padding-top: 70px;
}

.career-info {
  padding-top: 20px;
  padding-bottom: 80px;
}

.career-job-listings {
  padding-top: 50px;
}

.job-listing-mainheading {
  text-align: center;
}

.career-job-listings .job-description {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 2px;
  height: 152px;
}

.career-job-listings .career-posts{
  width: 1200px;
}

.col-md-4.col-sm-6.col-xs-12.job-lising-card {
  padding-top: 30px;
  width: 300px;
  height: 423px;
}

.career-job-listings .section-title h2 {
  padding-bottom: 0;
}

.career-job-listings .job-content {
  box-shadow: 4px 3px 2px 2px #dcdcdc;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
  border: 0.5px solid #d1d1d1;
  transition: 0.4s ease-in;
  transition: 1s ease-out;
  height: 375px;
 
}

.career-job-listings .job-heading {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 1px 1px 1px #18d26e;
  height: 140px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 269px;
}

.career-job-listings .career-cv {
  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 0;
}

/* .job-listing-button {
  padding-top: 5px;
  padding-bottom: 10px;
} */

.card-top-design {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

.job-listing-button a {
  font-size: 16px;
  border: 1.5px solid #194c23;
  color: #fff;
  padding: 5px 30px;
  background: #194c23;
  transition: 0.4s ease-in-out;
  font-weight: bold;
}

.job-content:hover {
  transform: scale(1.04);
}

.job-listing-button a:hover {
  background: transparent;
  color: #194c23;
}

.career-end-note {
  padding-top: 40px;
  padding-bottom: 50px;
}

.career-end-note .note-section {
  background-color: rgba(0, 90, 11, 0.9);
  height: 250px;
  margin-top: 20px;
}

.career-end-note h2 {
  /* background: #194c23; */
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.career-end-note h3 {
  padding: 5px 0 10px 0;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
}

@media screen and (max-width: 991px) {
  #career .career-banner-heading {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  #career .career-banner-heading h1 {
    font-size: 40px;
  }

  #career .career-banner-heading span {
    font-size: 34px;
  }

  .career-info .text-success {
    padding-top: 20px;
  }

  .career-info .career-col-reverse {
    display: flex;
    flex-flow: column-reverse;
  }

  .job-content {
    margin-bottom: 60px;
  }
}
.career-mission p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: LEXEND, sans-serif;;
}

.career-mission h2 {
  text-align: center;
  color: #005a0b;
}

@media screen and (max-width: 767px) {
  #career .career-banner-heading {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  #career .career-banner-heading h1 {
    font-size: 40px;
  }

  #career .career-banner-heading span {
    font-size: 34px;
  }

  .career-end-note h3 {
    font-size: 16px;
  }

  .job-content {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 550px) {
  #career .career-banner-heading {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  #career .career-banner-heading h1 {
    font-size: 34px;
  }

  #career .career-banner-heading span {
    font-size: 28px;
  }

  .career-end-note h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  #career .career-banner-heading {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #career .career-banner-heading h1 {
    font-size: 26px;
  }

  #career .career-banner-heading span {
    font-size: 22px;
  }

  .job-content {
    margin-right: 0;
    margin-left: 0;
  }
}

/* Career section ends */

/* contact section starts*/
#contact .form-control {
  background: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #999;
}

#contact input {
  height: 55px;
}

#contact input[type="submit"] {
  background: #242424 !important;
  border: none;
  color: #ffffff !important;
  background: #242424;
  border: 1.5px solid #999;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#contact input[type="submit"]:hover {
  background: #194c23 !important;
}
/* contact section ends*/

/* footer section  */
footer {
  background: #111112;
}

footer .copyright-text {
  padding-top: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.media-object img {
  padding-right: 30px;
}

/* svg */
.svgcolor-light {
  /*position: absolute;
  top: 0;
  left: 0; */
  position: relative;
  bottom: 104px;
}
.svgcolor-light > path {
  fill: white;
  stroke: white;
  stroke-width: 0;
}

/* modal */
.modal-dialog .modal-content {
  background: url("../images/inquire-modal-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0;
  text-align: center;
  padding: 100px 50px 100px 50px;
  position: relative;
}

.btn:focus {
  outline: none;
}

.modal-header {
  border-bottom: 0px;
}

.modal-dialog .close {
  color: #194c23;
  font-size: 40px;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: 40px;
  right: 40px;
  border: 2px solid gray;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  line-height: 35px;
  text-align: center;
}
.modal-dialog .close:focus {
  outline: none;
}

.modal-dialog form {
  padding: 20px;
}
.modal-dialog form input {
  height: 55px;
}
.modal-dialog form .form-control {
  background: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}

.modal-dialog form input[type="submit"] {
  background: #ffffff;
  color: #242424;
  text-transform: uppercase;
  margin-top: 30px;
}
.modal-dialog form input[type="submit"]:hover {
  background: #194c23;
  border-color: transparent;
  color: #ffffff;
}

/* Back top */
.go-top {
  background-color: #eee;
  bottom: 2em;
  right: 2em;
  color: #111112;
  font-size: 22px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
  background: #194c23;
  color: #ffffff;
}

/* social icon section  */
.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 100px;
  color: #626262;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin-top: 12px;
  margin-right: 10px;
}

.social-icon li a:hover {
  background-color: #ffffff;
  color: #111112;
}

/* Mobile Responsive */
@media (max-width: 980px) {
  h1 {
    font-size: 2.4rem;
  }

  #home {
    height: 65vh;
  }

  #particles-js {
    height: 65vh;
  }

  #about .section-title {
    padding-bottom: 12px;
  }

  #about .text-justify {
    padding: 30px;
  }

  #feature .col-md-4 {
    padding-bottom: 32px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}

@media (max-width: 700px) {
  #home {
    height: 100vh;
  }

  .modal-dialog .modal-content {
    padding: 50px 20px;
  }

  footer {
    text-align: center;
  }
  footer .col-sm-6 {
    padding-bottom: 32px;
  }

  .modal-dialog .close {
    font-size: 35px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

/* My Agro-guard benefits section starts */
.benefits {
  background: #fff;
  margin-top: 120px;
}

.benefits-heading {
  text-shadow: 0px 5px 3px var(--color-accent);
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.card--heading {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.block {
  padding: 5% 16% 2% 16%;
}

.grid {
  grid-gap: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.agro-image {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  margin-bottom: 2rem;
}

.benefits .card {
  background: linear-gradient(
    180deg,
    rgba(9, 172, 79, 0.9332107843137255) 0%,
    rgba(2, 83, 32, 0.9332107843137255) 120%
  );
  transition: transform 0.4s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.benefits .card:hover {
  transform: scale(1.03);
}

.card--header,
.card--heading {
  text-align: center;
  color: #fff;
  font-weight: bolder;
  text-shadow: 1px 2px 2px #000;
}

.card--body {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  padding-right: 0.8rem;
}

@media screen and (max-width: 700px) {
  .benefits-heading {
    font-size: 1.8rem;
  }

  .agro-image {
    height: 40vw;
  }

  .card--heading {
    margin-top: 0;
  }

  .block {
    padding: 5% 2% 2% 2%;
  }
}

@media screen and (min-width: 800px) {
  .block {
    padding: 3% 18% 2% 18%;
  }

  .benefits-heading {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .block {
    padding: 3% 4% 2% 4%;
  }

  .grid--cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .agro-image {
    height: 15vw;
  }

  .grid {
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .block {
    padding: 2% 0% 0% 0%;
  }

  .grid {
    grid-gap: 3rem 0rem;
  }

  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .agro-image {
    height: 12vw;
  }

  .card--heading {
    font-size: 1.6rem;
  }
}

/* My Agro-guard benefits section ends */

.error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.error-message br + br {
  margin-top: 25px;
}

.sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.d-block {
  display: block !important;
}

#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.feature {
  background: white;
  padding-top: 60px;
}

.feature .feature-content h2,
.feature .feature-content p {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .feature .feature-content h2,
  .feature .feature-content p {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .feature .text-success {
    margin-top: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .feature .testimonial {
    text-align: center;
  }
}

.feature .testimonial p {
  font-family: "LEXEND", sans-serif;
  margin-bottom: 10px;
  font-style: italic;
  color: #242424;
}

.feature .testimonial ul.meta li {
  font-size: 12px;
  margin-right: 10px;
}

.feature .testimonial ul.meta li img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.address {
  background: white;
  padding-top: 50px;
}

.address .block .address-block {
  text-align: center;
}

.address .block .address-block .icon {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.address .block .address-block .icon i {
  display: block;
  height: 100px;
  width: 100px;
  background: #fafafa;
  border-radius: 100%;
  font-size: 45px;
  text-align: center;
  line-height: 100px;
}

.google-map {
  position: relative;
}

.google-map #map_canvas {
  height: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  .google-map #map_canvas {
    height: 350px;
  }
}

.page-title {
  text-align: center;
  background: white;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 80px;
}

.feature1 {
  background: white;
}
.feature1 .feature-item .icon {
  margin-bottom: 25px;
}

.feature1 .feature-item .icon i {
  font-size: 48px;
  color: #7d71d3;
}

.feature1 .feature-item .content h5 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.feature1 .feature-item:not(:last-child) {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .feature1 .feature-item {
    margin-bottom: 80px;
  }
}

.feature1 .app-screen {
  margin: 40px 0;
}

.hex,
.about_section {
  background: white;
}

@media screen and (max-width: 991px) {
  #hex .row {
    width: 120%;
  }
}

.services {
  padding-bottom: 30px;
  background-color: white;
  padding-top: 60px;
}
.services .icon-box {
  margin-bottom: 20px;
  padding: 30px 15px;
  border-radius: 6px;
  background: #fff;
}
.services .icon-box i {
  float: left;
  color: #4eb478;
  font-size: 40px;
  line-height: 0;
}
.services .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .icon-box h4 a {
  color: #444444;
  transition: 0.3s;
}
.services .icon-box .icon-box:hover h4 a {
  color: #4eb478;
}
.services .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
  text-align: justify;
}

/*wave*/
.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  animation: rotate 6s linear infinite;
  z-index: 10;
}
.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(-50%) rotate(0);
  animation: rotate 10s linear -5s infinite;
  z-index: 20;
}
@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

/*rotation*/
.about_section {
  background: white;
}

.about_section .box {
  flex-direction: column;
  align-items: center;
}

.about_section .box img {
  width: 100%;
}

.about_section .box .img-box {
  position: relative;
  width: 250px;
  margin: 50px 0;
}

.about_section .box .img-box .about_img-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  animation: rotateAnimation 3s infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  49% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}

.about_section .box .detail-box {
  margin-top: 0;
  text-align: center;
}

.about_section .box .detail-box a {
  display: inline-block;
  padding: 12px 60px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 40px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 10px;
}

.about_section .box .detail-box a:hover {
  background-color: #333333;
}

.card {
  border: darkslategray 1px solid;
  margin: 10px 30px;
  border-radius: 20px;
}

.padding {
  padding-top: 100px;
}

.full {
  max-width: 69% !important;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
}

.elzian-large-logo {
  height: 200px;
}

.home-page-animation {
  height: 400px;
}

.our-awards {
  height: 300px;
}

.agro-guard-bg-image {
  padding-top: 80px;
  padding: 40px;
}

.agro-mate-bg-image {
  padding: 40px;
}

.social-footer {
  flex: auto;
}

#traceability-desc {
  padding-top: 60px;
}

.traceablity-banner .banner img {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.traceability-icon {
  padding-top: 30px;
}

.traceability-cards .section-title {
  padding-bottom: 20px;
}

.traceability-cards {
  padding-top: 10px;
  padding-bottom: 20px;
}

.traceability-cards .row .choose__item .avtartr{
  width: 140px;
  height: 140px;
  border-radius: 5px;
  overflow: hidden;
  margin:  0px auto 50px;
  position: relative;
  top: 30px;

}


.traceability-end-note p {
  margin-top: 10px;
  text-align: justify;
}

.traceability-end-note {
  padding-bottom: 50px;
}

@media screen and (max-width: 450px) {
  .traceablity-banner .banner img {
    margin-top: 120px;
    height: 30vh !important;
  }
}

#traceability-desc p {
  text-align: justify;
}

.page-section {
  padding: 5rem 0;
}

.page-section h3 {
  padding-bottom: 30px;
}

.page-section .subheading {
  text-align: center;
}

.rounded-circle {
  border-radius: 50% !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4,
.timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4,
.timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading,
.timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
  text-align: justify;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.vimi {
  max-width: 50% !important;
}

.agro-eye {
  padding-top: 100px;
  padding-bottom: 60px;
}

.agro-eye .agro-eye-image {
  padding-top: 40px;
}

.agro-eye .section-title {
  padding-bottom: 0;
}

/* Related Blog Article Section Starts */

#related-blogs {
  padding-bottom: 80px;
}

#related-blogs .blog-cards {
  overflow: hidden;
  border: 0.2px solid #e3e3e3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}

#related-blogs .card-body {
  padding-left: 25px;
  padding-right: 25px;
}

#related-blogs .section-heading {
  padding-bottom: 25px;
}

#related-blogs .card-title {
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 40px;
}

#related-blogs .related-blog-date {
  margin-bottom: 5px;
  color: #000;
}

#related-blogs .card-text {
  margin-top: 20px;
  margin-bottom: 5px;
}

#related-blogs .read-more-link {
  padding-bottom: 30px;
  text-align: right;
}

#related-blogs .read-more-link a {
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  #related-blogs .blog-cards {
    margin-bottom: 50px;
  }

  #related-blogs {
    padding-bottom: 40px;
  }
}

/* Paragraphs text alignment for whole sight */

.desc {
  text-align: justify;
}

/* Related Blog Article Section Ends */

.about_section .boxcard {
  
  box-shadow: 0 0 0 1px #E2E9ED;
  position: relative;
  z-index: 0;
  transition: 0.2s all;
  border-radius: 20px;
  height: 450px;
  border: 2px;

}
.about_section .boxcard:hover{
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  background-color: #fff;
 
}
.about_section .boxcard:active{
  color: #fff;
}

/* .about_section .boxcard .avtar{
  width: 140px;
  height: 140px;
  border-radius: 100%;
  overflow: hidden;
  margin:  0px auto 20px;
  position: relative;
  top: 30px;

} */

.about_section .boxcard .img-card{
  width: 190px;
  height: 190px;
  align-items: center;
  position: relative;
  padding: 30px 30px 20px;
  border-radius: 100%;
  
}

.about_section .boxcard .box_content{
  margin-top: 50px;
}

.about_section .boxcard .box_content .boxtitle{
  font-size: 30px;
  font-family: "LEXEND", sans-serif;
  color: #313435;

}

.about_section .box .cards{
  align-items: center;
  margin-left: 150px;
  margin-right: 10px;
}

.about_section .box .aboutboxtitle{
  font-size: 30px;
  font-family: "LEXEND", sans-serif;
  color: #313435; 
  padding-top: 10px;
}


.about_section .choose__item .avtar{
  width: 170px;
  height: 170px;
  border-radius: 100%;
  overflow: hidden;
  margin:  0px auto 20px;
  position: relative;
  top: 30px;
  margin-bottom: 50px;

}

.about_section .box .choose__item{
  padding: 0 30px 0;

}


 #history .container .row .historyimage{
  width: 800px;
  height: 200px;
  display: block;
  border-radius: 7px;
  margin: 10px auto 20px auto;

 }

/* career */

 .choose__item .avtar{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  margin:  0px auto 20px;
  position: relative;
  top: 30px;

}

.career-mission .career_title{
  font-family: "LEXEND", sans-serif;
  text-align: center;
  padding-bottom: 15px;
}

.iconimg{
  width: 90px;
  height: 90px;
  margin:  0px auto 20px;
}
 
/* catalog */

#choosespad .container .row .choose__item .avtar{
  border-radius: 20%;
}

.feature .container .catalog-image{
  height: 350px; 
  width: 350px; 
  object-fit: cover
}

/* career recommendations */

/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.career-job{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.career-job .slide-container{
  max-width: 1140px;
  width: 100%;
  padding: 40px 0;
  /* padding-right: 80px; */ 
}
.career-job .slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.career-job .card{
  border-radius: 25px;
  background-color: #FFF;
  width: 500px;
}
.career-job .image-content,
.career-job .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.career-job .image-content{
  position: relative;
  row-gap: 5px;
  padding:  0;
}
.career-job .image-content .overlay{
  position: absolute;
  left: 0;
  top: auto;
  height: 100%;
  width: 100%;
  background-color: rgb(25, 76, 35);
  border-radius: 25px 25px 0 25px;
}
.career-job .image-content .overlay::before,
.career-job .image-content .overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 18px;
  background-color: rgb(25, 76, 35);
}
.career-job .image-content .overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.career-job .card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
  margin: 15px 6px;
}
.career-job .card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgb(11, 128, 33);;
}
.career-job .name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.career-job .names{
  font-size: 19px;
  font-weight: 800;
  color: #333;
}
.career-job .description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.career-job .card-content .button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #194c23;
  font-family: "LEXEND", sans-serif;
  border-radius: 6px;
  margin: 14px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.career-job .button:hover{
  background: #FFF;
  color: #194c23;
  border: 1.5px solid rgb(25, 76, 35);
}

.career-job .swiper-navBtn{
  color: rgb(11, 128, 33);
  transition: color 0.3s ease;
}
.career-job .swiper-navBtn:hover{
  color: rgb(25, 76, 35);
}
.career-job .swiper-navBtn::before,
.career-job .swiper-navBtn::after{
  font-size: 35px;
}
.career-job .swiper-button-next{
  right: 0;
}
.career-job .swiper-button-prev{
  left: 0;
}
.career-job .swiper-pagination-bullet{
  background-color: rgb(11, 128, 33);
  opacity: 1;
}
.career-job .swiper-pagination-bullet-active{
  background-color: rgb(25, 76, 35);
}

@media screen and (max-width: 768px) {
  .career-job .slide-content{
    margin: 0 10px;
  }
  .career-job .swiper-navBtn{
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .career-job .slide-container{
    width: 800px;
  }

}

@media screen and (max-width: 740px) {
  .career-job .slide-container{
    width: 500px;
  }
}

.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--primary);
}

/* .job-item {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.job-item:hover {
  border-color: rgba(0, 0, 0, .08);
  box-shadow: none;
} */

/* Job Vacancy Section */
.job-section{
  padding-top: 50px;
}
.job-section .container .Job-heading{
  color: #323232;
  font-size: 12px;
  font-weight: 700;
}
.job-section .container .Job-subHeading{
  color: #005a0b;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 30px;
}
.job-list{
  margin: 5%;
  padding: 1rem;
}
.job-card{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  min-height: 100px;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
  cursor: pointer;
}
.job-card:hover{
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.job-name{
  display: flex;
}
.job-profile{
  width: 60px;
  height: 60px;
  margin: 0;
}
.job-detail{
  padding: 0 10px;
}
.job-detail h5{
  color: #323232;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0 0 10px;
}
.job-detail .job-icon{
  padding: 0 5px 0 10px;
}
.job-label{
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
}
.job-label .job-btn{
  font-size: 16px;
  border: 1.5px solid #194c23;
  color: #fff;
  padding: 5px 30px;
  background: #194c23;
  transition: 0.4s ease-in-out;
  font-weight: bold;
  margin: 10px 0 20px 0;
  text-align: center;
}
.job-label .job-btn:hover{
  color: #194c23;
  background: #fff;
}
.job-moreBtn{
  font-size: 16px;
  border: 1.5px solid #194c23;
  color: #194c23;
  padding: 5px 30px;
  background: #fff;
  transition: 0.4s ease-in-out;
  font-weight: bold;
  margin: 10px 0 20px 0;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 40px; 
}
 .job-moreBtn:hover{
  color: #fff;
  background: #194c23;
}


/* career Banner Styles */


.career-banner{
  width: 100%;
  height: 100vh;
  padding-top: 0px;
  
}
.banner-container{
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
.banner-row{
  display: flex;
  flex-direction: row;
  padding-right: 12px;
  padding-left: 12px;
}
.banner-img{
  width: 2000px;
  margin: 100px 0 20px 0;
}
.banner-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_Head h2{
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  margin: 150px 0 10px 0;
  color: #194c23;
}
.banner_Head h2 span{
  font-weight: 500;
}
.banner_Head h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin: 10px 0 25px 0;
  color: #323232;
  text-align: justify;
}
.banner_Head .button-wrapper{
  display: flex;
  align-items: center;
}
.banner_Head .banner-btn{
  font-size: 16px;
  display: inline-block;
  letter-spacing: 1px;
  background: #194c23;
  border: 1px solid #194c23;
  color: #fff;
  padding: 10px 30px 12px 30px;
  border-radius: 5px;
  transition:  0.5s;
  text-decoration: none;
}
.banner_Head .banner-btn:hover{
  background: #fff;
  border: 1px solid #194c23;
  color: #194c23;
}

                                    /* Beheviour Section (Start)  */

.Beheviour_text h1{
  margin-top: 45px;
  text-align: center;
  color: #323232;
  font-weight: 700;
  font-size: 30px;
  font-family: LEXEND, sans-serif;

}
.Beheviour_text p{
  text-align: center;
  color: #828282;
  font-size: 18px ;
  font-family: LEXEND, sans-serif;
  font-weight: 400;

}

.Beheviour-container{
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 25px;
  grid-auto-flow: dense;
  grid-gap: 10px;
  margin-bottom: 100px;


}
.Beheviour-container .box{
  background: #f7f3f3;
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #473333;
  transition: 0.5s;


}
.Beheviour-container .box:hover
{
background-size: #e91e63;


}

.Beheviour-container .box img{
position: relative;
max-width: 100px;
margin-bottom: 10px;

}
.Beheviour-container .box:nth-child(1)
{

grid-row: span 2;
}

.Beheviour-container .box:nth-child(2)
{
grid-column: span 3;

}

.Beheviour-container .box:nth-child(3)
{
grid-row: span 1.75;

}

.Beheviour-container .box:nth-child(4)
{
grid-column: span 2;

}

.Beheviour-container .box:nth-child(5)
{
  grid-column: span 2;

}

.Beheviour-container .box:nth-child(6)
{
  grid-column: span 2;

}


@media (max-width: 991px){
   .Beheviour-container{
      
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-template-rows: minmax(auto, auto);
 }
 .Beheviour-container .box
 {
  grid-column: unset !important;
  grid-row: unset !important;
 }
}











/*  END Beheviour Section */
  