@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.container1 h2 {
    text-align: center;
    /* padding: 3rem;
    font-size: 2rem; */
    color: #194c23;
    font-weight: 600; 
}

/* Slider */
.slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: 100px;
    height: 100px;
    
}

.techno {
    padding-bottom: 40px;
}

.container1 {
    padding-bottom: 35px;
}