@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.container1 h2 {
    text-align: center;
    /* padding: 3rem;
    font-size: 2rem; */
    color: #194c23;
    font-weight: 600;
}

/* Slider */
.slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: 60px;
    height: 60px;

}

.techno {
    padding-bottom: 40px;
}

.container1 {
    padding-bottom: 35px;
}

.EA_InterviewText h2 {
    /* text-align: center;   */
    color: #194c23;
    font-weight: 700;
    line-height: 1.3;
}

.EA_Interview {
    
    padding-top: 40px;
}

.EA_InterviewText {
    padding-bottom: 30px;
}

.learnAndDev {
    
    padding-top: 60px;
}

.Homeoffice{
    padding-bottom: 60px;
    padding-top: 60px;
}

.learnAndDev_Col p {
    text-align: justify;
}

.learnAndDev_Text {
    color: #194c23;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .Homeoffice_image {
        padding-top: 40px;
    }
    .development_image{
        padding-bottom: 40px;
    }
    .Interview_image{
        padding-top: 10px;
    }
}