<!-- Navigation-bar -->
<section class="ftco-section fixed-top">
  <div class="wrap">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col">
          <div class="ct-topbar">
            <ul class="list-unstyled list-inline ct-topbar__list">
              <li class="ct-language">
                <i class="fa fa-globe" aria-hidden="true"></i> <span class="google-translator-text">Select
                  Language</span>
                <i class="fa fa-caret-down"></i>
                <ul class="list-unstyled ct-language__dropdown">
                  <li>
                    <a href="#googtrans(en|en)" class="lang-en lang-select" data-lang="en"><img
                        src="../images/Translation/icons8-usa-flag-48.png" alt="USA"
                        class="country-translate" />English</a>
                  </li>
                  <li>
                    <a href="#googtrans(en|si)" class="lang-es lang-select" data-lang="si"><img
                        src="../images/Translation/sri-lanka.png" alt="SRILANKA" class="country-translate" />Sinhala</a>
                  </li>
                  <li>
                    <a href="#googtrans(en|ta)" class="lang-es lang-select" data-lang="ta"><img
                        src="../images/Translation/sri-lanka.png" alt="INDIA" class="country-translate" />Tamil</a>
                  </li>
                  <li>
                    <a href="#googtrans(en|fr)" class="lang-es lang-select" data-lang="fr"><img
                        src="../images/Translation/icons8-france-48.png" alt="France"
                        class="country-translate" />French</a>
                  </li>
                  <li>
                    <a href="#googtrans(en|de)" class="lang-es lang-select" data-lang="de"><img
                        src="../images/Translation/icons8-germany-48.png" alt="GERMAN"
                        class="country-translate" />German</a>
                  </li>
                  <li>
                    <a href="#googtrans(en|id)" class="lang-en lang-select" data-lang="id"><img
                        src="../images/Translation/icons8-indonesia-48.png" alt="INDONESIA"
                        class="country-translate" />Indonesian</a>
                  </li>
                  <li>
                    <a href="#googtrans(en|th)" class="lang-es lang-select" data-lang="th"><img
                        src="../images/Translation/icons8-thailand-48.png" alt="THAILAND"
                        class="country-translate" />Thai</a>
                  </li>
                  <li>
                    <a href="#googtrans(en|hi)" class="lang-es lang-select" data-lang="hi"><img
                        src="../images/Translation/icons8-india-48.png" alt="INDIA"
                        class="country-translate" />Hindi</a>
                  </li>
                  <li>
                    <a href="#googtrans(en|ta)" class="lang-es lang-select" data-lang="ta"><img
                        src="../images/Translation/icons8-india-48.png" alt="INDIA"
                        class="country-translate" />Tamil</a>
                  </li>
                  <li>
                    <a href="#googtrans(en|ja)" class="lang-es lang-select" data-lang="ja"><img
                        src="../images/Translation/icons8-japan-48.png" alt="JAPAN"
                        class="country-translate" />Japanese</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a href="https://lk.linkedin.com/company/elzian" target="_blank"
                class="d-flex align-items-center justify-content-center"><span class="fa fa-linkedin"><i
                    class="sr-only">Facebook</i></span></a>
              <a href="https://www.facebook.com/ELZIANAGRO" target="_blank"
                class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i
                    class="sr-only">Twitter</i></span></a>
              <a href="https://instagram.com/elzian.agro?utm_medium=copy_link" target="_blank"
                class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i
                    class="sr-only">Instagram</i></span></a>
              <a href="https://elzian.com/" target="_blank"
                class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i
                    class="sr-only">Dribbble</i></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand pr-5" href="https://agro.elzian.com/">
        <img loading="lazy" class="logo" src="../images/logo.webp" alt="Logo" />
        <div>
          Elzian
          <span>Agro</span>
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <nav>
          <ul class="navbar-nav m-auto m-2">
            <li class="nav-item">
              <a href="../index.html" class="nav-link" id="home-anchor">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Our Services</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="../catalog.html">Monitoring Services</a>
                <a class="dropdown-item" href="../AgroMate.html">Automation Services</a>
                <a class="dropdown-item" href="../AgroEagel.html">Drone Services</a>
                <a class="dropdown-item" href="https://restore.earth/" target="_blank">Primary Ecosystem Services</a>
                <a class="dropdown-item" href="../AgroGuard.html">Prediction Services</a>

                <a class="dropdown-item" href="../traceability.html">Traceability Services</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown05" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">RESOURCES</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="../blog/blog-main.html">BLOGS</a>
                <a class="dropdown-item" href="../news_media/news-main.html">NEWS/MEDIA</a>
                <a class="dropdown-item" href="../podcast/podcast-main.html">PODCAST PAGE</a>
              </div>
            </li>
            <li class="nav-item">
              <a href="../about.html" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="../career.html" class="nav-link">Careers</a>
            </li>
            <li class="nav-item">
              <a href="../contact.html" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <!-- <a href="../Login.html" class="nav-link bg-black">Log In</a> -->
              <a href="http://monitoring.elzian.com/" class="nav-link bg-black">Log In</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Navigation-bar -->
    </div>
  </nav>
</section>