<section class="preloader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-child preloader-image"><img loading="lazy" src="../images/logo.webp" alt="logo image" class="img-responsive" /> </div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</section>


 <!-- Back top -->
 <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

 <!-- javscript js -->
 <script src="../js/jquery.js"></script>
 <script src="../js/popper.js"></script>
 <script src="../js/bootstrap.min.js"></script>
 <script src="../js/vegas.min.js"></script>

 <script src="../js/wow.min.js"></script>
 <script src="../js/smoothscroll.js"></script>
 <script src="../js/custom.js"></script>
 <script src="../js/contact.js"></script>
 <script src="../js/slide.js"></script>
 <script id="mcjs">
     ! function(c, h, i, m, p) {
         m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
     }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/bb13b86c2bdf71d3ac106940b/303c33500220a3706810bd204.js");
 </script>





<script>

var slideImg1 = document.getElementById("slideImg1");

var images = new Array(
 "images/home-baner-slide1_40.jpg",
 "images/home-baner-slide2_40.jpg",
 "images/home-baner-slide3_40.jpg",
 "images/home-baner-slide4n.jpg"

);

var len = images.length;
var i = 0;

function slider(){
if(i > len-1){
 i = 0;
}
slideImg1.src = images[i];
i++;
setTimeout('slider()',3000);

}

</script>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script>
var typed = new Typed(".auto-type",{
strings: ["More targeted ways to protect crops, with less inputs"],
typeSpeed: 130,
backSpeed: 130,
loop: true

})
</script>


<!-- stylesheets css -->
<link rel="stylesheet" href="../css/home-baner.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/animate.min.css">

<link rel="stylesheet" href="../css/et-line-font.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">

<link rel="stylesheet" href="../css/vegas.min.css">
<link rel="stylesheet" href="../css/navstyle.css">
<link rel="stylesheet" href="../css/style.css">

<link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Eudoxus+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet" type='text/css'>

<link rel="shortcut icon" type="image/png" href="images/favicon.png" />


<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5XQ6529FXW"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-5XQ6529FXW');
</script>